@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-clickable .swiper-pagination-bullet{
    border: 1.5px solid #fff;
    width: 10px;
    height: 10px;
    background: #333;
}